/.env
.env.*
!.env.example


/.venv
/venv
/env
/ENV

=
__pycache__/
*.py[cod]
*$py.class

=
/build/
/dist/
/*.egg-info/
/sdist/
/wheelhouse/


/.vscode/
/.idea/

.DS_Store
Thumbs.db
ehthumbs.db
._*

*.log
*.sqlite3
*.db```